{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <h2 class=" ">
        Your Challenge Score is 
            {{tchallenge_score}}
        </h2>
</div>
    <div class="row text-center">
        <p> What kind of challenge would you like?</p>
    </div>
    <div class="row">
        <a href="/fight/plans/easy/{{current_user.id}}" class="btn ebtn col border-success border-4 p-4 m-4 text-white fs-2">Easy</a>
        <a href="/fight/plans/normal/{{current_user.id}}" class="nbtn col btn border-warning border-4 p-4 m-4 text-white fs-2">Normal</a>
        <a href="/fight/plans/hard/{{current_user.id}}" class="hbtn col btn border-danger border-4 p-4 m-4 text-white fs-2">Hard</a>

    </div>
</div>


{% endblock %}