{% extends 'base.html' %}
{% block content %}
<h2>
 Your Challenge Score is 
 {{tchallenge_score}}
</h2>
<p> Before moving on make sure this is the party you wish to continue with.</p>
{% for box in boxes %}
<div>
    
    <ul>
        <li>Name: {{box.name}}</li>
        <li>Class: {{box.tclass}}</li>
        <li>Level: {{box.level}}</li>
    </ul>
    
</div>
{% endfor %}

<a href="/fight/plans/easy/{{current_user.id}}" class="btn btn-success mx-auto mb-2" style="width: 15rem;">Easy</a>
<a href="/fight/plans/normal/{{current_user.id}}" class="btn btn-warning mx-auto mb-2" style="width: 15rem;">Normal</a>
<a href="/fight/plans/hard/{{current_user.id}}" class="btn btn-danger mx-auto mb-2" style="width: 15rem;">Hard</a>

{% endblock %}