{% extends 'base.html'%}
{% block content%}
<div class="container">
    <div class="row text-center fs-1">
        <p>Welcome to The Monster Arena</p>
    </div>
    <div class="row text-center  p-4 paragraph">
        <p class="fs-3">Hello Game Masters this is the monster arena. Here we are able to make the encounter of your dreams. </p>
    <br/>
       <p class="lh-lg fs-5"> The procees is simple: <br/>
        1: Go to our team page to build out your team <br/>
        2: Once you have a team our system will create your teams Challnge Score <br/>
        3: Go to Fight and select a difficulty<br/>
        4: We will then create lineup of monsters that is worhty of legends</p><br/>
        <p> PS: Check out the Monster Rolodex to see what monsters are available.</p>
    </div>
</div>

{% endblock %}